img.noborder {
  background:none; 
  border:none !important; 
  box-shadow:none !important;
}

.text-muted {
  font-size: 25px !important;
  color: black;
  opacity: 0.5;
}

.text-subject {
  color:#00008B;
  text-decoration: underline;
}